
/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;

    margin: 0;
}
.container{
    width: 80%;
    margin: auto;    
}
/* header-part */
.top-header{
    background-color: #2D25A0;   
}
.top-header .container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

/* -------------
    text-part 
-----------*/
.top-header-text{
        font-weight: 700;
        font-size: 55px;
        color: #FFFF;
}
.top-header-text h1{
    font-size: 64px;
    font-weight: 700;
    line-height:80px;
}
button{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition:1s;
}
button:hover {
    width: 150px;
    transition:2s;
}
button a{
    text-decoration: none;
    color: #FFFF;
    font-weight:700;
}
button span{
    color: #ffff;
    width: 16px;
    height: 14px;
    margin-left: 8px;
}
/* ------------
banner-parts
---------- */
.top-header-image img{
    width: 100%;
    margin-top: 100px;
}
/* Playerblogs-part */
.All-player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.top-player{
    margin-top: 20px;
}
.singel-player{
    box-shadow: 0px 0px  30px #ddd;
    padding: 15px;

}
.singel-player img{
    width: 100%;
}
.singel-player h1{
    font-family: 700;
    font-size: 25px;
}
.singel-player p{
    color: #6C6C6C;
    font-size: 13px;
}
/* fixture */
.fixture-section{
    background: #061d48;
    margin-top: 40px;

}
.fixture{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 87px;
}
.text-fixture h2{
    font-weight:600;
    color: #fff;
}
.text-fixture p{
    color: #ffff;
}
.fixture img{
    width:100%;
}
/* coaches */
.coach-section{
    background-image: url(./image/bannerr.png);
    background-repeat: no-repeat;
    padding: 60px 0;
    margin-top: 30px;
}
.coaches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    
    
    
}
.single-coach{
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px  30px #ddd;
    padding: 40px;
    border-left: 6px solid;
    border-image: linear-gradient(rgb(27, 11, 255),rgb(230, 8, 230));
    border-image-slice: 1;
}
.single-coach img{
    border-radius: 50%;
    width: 100%;
    border: 8px solid tomato;
    

}


/* Footer-section */

.footer-section{
    text-align: center;
    padding: 50px 0;
}
.logo img{
    width: 40%;
}
.footer-icon{
    margin-left: 10px;
}
.footer-icon i{
    color: gray;
    margin-right: 20px;
    background-color: rgba(128, 128, 128, 0.329);
    padding: 7px;
    border-radius:50%;
}
    
/* =============================================
==================Responcib====================== */
@media only screen and (max-width:594px){
    .top-header{
        height: auto;
    }
    .top-header .container{
        grid-template-columns: repeat(1,1fr);
    }
    .top-header-text{
        margin-top: 40px;  
    } 
    .top-header-image img{ 
        margin-top: 10px;
    }
    .top-header-text h1{
        font-size: 24px; 
        line-height:40px;
    }
 /* player-section */
 .All-player{
     grid-template-columns:repeat(1,1fr) ;

 }
 .fixture{
    grid-template-columns:repeat(1,1fr) ;
 }
 .fixture-img{
     width:100%;
 }
 .coaches{
    grid-template-columns:repeat(1,1fr) ;
 }

}



